<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style></style>
</head>
<body>
<div class='rg-container'>
    <!-- Logo + Links : BEGIN -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <caption class='rg-header'>
            <span class='rg-hed' style="color:#444444; font-weight:bold">TC Food Justice </span>
            <span class='rg-dek' style="color:#444444; font-weight:bold">Social Media Report</span>
        </caption>
        <tr>
            <td valign="middle" style="padding:10px 0; text-align:left;" width="150">
                <img src="https://s3-us-west-2.amazonaws.com/tcfjassets/Logo+black+border+(1).png" alt="alt text" width="150" height="125" border="0" align="right">
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <div class='rg-content'>
        <table class='rg-table zebra' summary='Hed'>
            <thead>
            <tr>
                <th class='text ' align="left" style="padding: 10px 0; font-family: sans-serif; font-size: 15px; line-height: 1.3; color: #333333; font-weight: bold; border-bottom: 1px solid #cccccc">Total Views</th>
            </tr>
            </thead>
            <tbody>

            <tr class=''>
                <td class='text ' align="left" style="padding: 10px 0; font-family: sans-serif; font-size: 15px; line-height: 1.3; color: #333333; border-bottom: 1px solid #eeeeee" data-title='Views'> <%=views%></td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class='rg-content'>
        <table class='rg-table zebra' summary='Hed'>
            <thead>
            <tr>
                <th class='text ' align="left" style="padding: 10px 0; font-family: sans-serif; font-size: 15px; line-height: 1.3; color: #333333; font-weight: bold; border-bottom: 1px solid #cccccc">Unique Visitors</th>
            </tr>
            </thead>
            <tbody>

            <tr class=''>
                <td class='text ' align="left" style="padding: 10px 0; font-family: sans-serif; font-size: 15px; line-height: 1.3; color: #333333; border-bottom: 1px solid #eeeeee" data-title='Visitors'> <%= visitors %></td>
            </tr>

            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div class='rg-content'>
        <table class='rg-table zebra' summary='Hed'>
            <thead>
            <tr>
                <th class='text ' align="left"  style="padding: 10px 0; font-family: sans-serif; font-size: 15px; line-height: 1.3; color: #333333; font-weight: bold; border-bottom: 1px solid #cccccc">Referrer</th>
                <th class='text ' align="left"  style="padding: 10px 0; font-family: sans-serif; font-size: 15px; line-height: 1.3; color: #333333; font-weight: bold; border-bottom: 1px solid #cccccc">Visits</th>
            </tr>
            </thead>
            <tbody>

            <% groups.each { %>

                <tr class=''>
                    <td class='text ' align="left"  style="padding: 10px 0; font-family: sans-serif; font-size: 15px; line-height: 1.3; color: #333333; border-bottom: 1px solid #eeeeee" data-title='Referrer'>${it.name}</td>
                    <td class='text ' align="left"  style="padding: 10px 0; font-family: sans-serif; font-size: 15px; line-height: 1.3; color: #333333; border-bottom: 1px solid #eeeeee" data-title='Visits'>${it.total}</td>
                </tr>
            <% } %>
            <tr>
                <td class='text ' data-title='Referrer'></td>
            </tr>

            </tbody>
        </table>
    </div>


</div>
</body>
</html>